@media only screen and (min-width: 700px) and (max-width:900px) {
    .temp2 {
        width: 40%;         
        
    }
    .temp3 {
        width: 60%;         
        
    }
    .imageTag2{
        width:40px;
        height: 40px;
       
    }
}
@media only screen and (max-width: 900px){
    .widgetParent{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
@media only screen and (min-width: 900px){
    .widgetParent1{
        display: flex;
        flex-direction: row;
    }
}