.image{
    mix-blend-mode: multiply;
}
@media only screen and (max-width: 450px) {
    .temp {
        width: 100%;
        border:none;
    }


}

@media only screen  and (min-width: 450px) {
    .temp2 {
        width: 450px;
        border:1px solid grey
        
    }


}